
html{
    body{
        // background: lavender;
        // background: lavenderblush;
        // background: rgb(2,39,39);
        // background: linear-gradient(0deg, rgba(2,39,39,1) 0%, rgba(9,89,78,1) 33%, rgba(29,131,135,1) 66%, rgba(96,176,128,1) 100%);

        background: rgb(2,39,39);
background: linear-gradient(0deg, rgba(2,39,39,1) 0%, rgba(9,89,78,1) 25%, rgba(29,131,135,1) 75%, rgba(96,176,128,1) 100%);
    }
}

/////////////////
/////////////////


$parts: 60;
// $legs: 1;
// $creatures: 3;

html, body {
	height: 100%;
}
body {
	// background: cyan;
	// perspective: 500px;
	// overflow: hidden;
}
.creature {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// height: 30px;
	// width: 40px;
}

// @for $i from 1 through $creatures {
// 	.creature:nth-child(#{$i}){
// 		animation: swim#{$i} (random(50) + 50s) infinite linear alternate;
// 	}
// }

//******INDIVIDUAL SQUARE PARTS
.seg {
//   color: limegreen;
    // color: #60b080;
    //EYEDROPPED FROM CHRISTIAN"S COMP:
    // color: #146265;

    // 👇CHOSEN COLOR
    // color: #1a5052;
    color: white;
    // opacity: .9;
    
    // font-size:11px;
    font-size:1.1rem;

    // color: #1d8387;
    // color: #09594e;
    height: 18px;
    width: 18px;
    transform-origin: bottom;
    animation: sway 3s infinite ease-in-out alternate;
}

// 👇NEED TO BRING BACK
@keyframes sway {
	0% {
		transform: rotate(-20deg) translateX(-5px);
	}
	50% {
		transform: rotate(20deg) translateX(5px)
	}
}

// 👇NEED TO BRING BACK
@for $i from 1 through $parts {
	.seg:nth-child(#{$i}){
		animation-delay: $i * -.1s;
	}
}


.first{
 position: fixed;
 bottom: -10px;
}


.second{
  position: fixed;
  left:90px;
  bottom: -10px;
}

.third{
    position: fixed;
    left:180px;
    bottom: -10px;
}


.fourth{
    position: fixed;
    left:270px;
    bottom: -10px;
}


.fifth{
    position: fixed;
    left:360px;
    bottom: -10px;
}

.sixth{
    position: fixed;
    left:450px;
    bottom: -10px;
}

.seventh{
    position: fixed;
    left:540px;
    bottom: -10px;
}


.eighth{
    position: fixed;
    left:630px;
    bottom: -10px;
}


.ninth{
    position: fixed;
    left:720px;
    bottom: 0px;
}

.tenth{
    position: fixed;
    left:810px;
    bottom: 0px;
}

.eleventh{
    position: fixed;
    left:900px;
    bottom: 0px;
}
