* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  //Enables declaring font sizes 'as if' in px, but in rem. ie: For 16px, declare 1.6rem
  font-size: 62.5%;
}
body {
  // font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  // font: 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  // font-size:16px;
  font-size:1.6rem;
  line-height: 1.7;
  color: #444;
  // transition: all .4s .3s ease-in;
}

body,html{
	min-height: 100vh;
	overflow: hidden;
}