::selection{
  background: #98c4be;
  color: white;
  text-shadow: none;
}
::-moz-selection{
  background: #98c4be;
  color: white;
  text-shadow: none;
}
::-webkit-selection{
  background: #98c4be;
  color: #fff;
  text-shadow: none;
}
