<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Kelp</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" rel="stylesheet"> -->
    <link href="assets/css/style.min.css" rel="stylesheet">

    <script src="assets/components/modernizr/modernizr.js"></script>
  </head>
  <body class="">

  <header class="" role="banner">
      <!-- <p>hello</p> -->
  <!-- %ul
  %li Salt
  %li Pepper -->
  
  <!-- 
    %strong.code#message Hello, World!
    
    %div.class#id This is inside a div.
    
    %p.forty this is a paragraph of text. -->
  </header>



<div class="creature first">

    <div class="seg">104.56</div>
    <div class="seg">9638.98</div>
    <div class="seg">728.19</div>

    <div class="seg">282.92</div>
    <div class="seg">6829.15</div>
    <div class="seg">1720.63</div>
    <div class="seg">830.33</div>
    <div class="seg">9620.03</div>

    <div class="seg">837.93</div>
    <div class="seg">4271.27</div>
    <div class="seg">916.53</div>
    <div class="seg">6346.22</div>
    <div class="seg">262.76</div>

    <div class="seg">652.98</div>
    <div class="seg">9263.33</div>
    <div class="seg">8635.68</div>
    <div class="seg">751.22</div>
    <div class="seg">8376.39</div>

    <div class="seg">882.93</div>
    <div class="seg">9726.87</div>
    <div class="seg">765.25</div>
    <div class="seg">333.52</div>
    <div class="seg">9726.73</div>

    <div class="seg">953.33</div>
    <div class="seg">784.22</div>
    <div class="seg">9374.27</div>
    <div class="seg">7652.99</div>
    <div class="seg">942.52</div>
</div>


<div class="creature second">
  <div class="seg">282.92</div>
    <div class="seg">6829.15</div>
    <div class="seg">1720.63</div>
    <div class="seg">830.33</div>
    <div class="seg">9620.03</div>

    <div class="seg">837.93</div>
    <div class="seg">4271.27</div>
    <div class="seg">916.53</div>
    <div class="seg">6346.22</div>
    <div class="seg">262.76</div>

    <div class="seg">652.98</div>
    <div class="seg">9263.33</div>
    <div class="seg">8635.68</div>
    <div class="seg">751.22</div>
    <div class="seg">8376.39</div>

    <div class="seg">882.93</div>
    <div class="seg">9726.87</div>
    <div class="seg">765.25</div>
    <div class="seg">333.52</div>
    <div class="seg">9726.73</div>

    <div class="seg">953.33</div>
    <div class="seg">784.22</div>
    <div class="seg">9374.27</div>
    <div class="seg">7652.99</div>
    <div class="seg">942.52</div>

    <div class="seg">6829.15</div>
    <div class="seg">1720.63</div>
    <div class="seg">830.33</div>
    <div class="seg">9620.03</div>

    <div class="seg">837.93</div>
    <div class="seg">4271.27</div>
    <div class="seg">916.53</div>
    <div class="seg">6346.22</div>
    <div class="seg">262.76</div>
</div>




<div class="creature third">
  
  <div class="seg">837.93</div>
    <div class="seg">4271.27</div>
    <div class="seg">916.53</div>
    <div class="seg">6346.22</div>
    <div class="seg">262.76</div>

    <div class="seg">652.98</div>
    <div class="seg">9263.33</div>
    <div class="seg">8635.68</div>
    <div class="seg">751.22</div>
    <div class="seg">8376.39</div>

    <div class="seg">882.93</div>
    <div class="seg">9726.87</div>
    <div class="seg">765.25</div>
    <div class="seg">333.52</div>
    <div class="seg">9726.73</div>

    <div class="seg">953.33</div>
    <div class="seg">784.22</div>
    <div class="seg">9374.27</div>
    <div class="seg">7652.99</div>
    <div class="seg">942.52</div>

    <div class="seg">6829.15</div>
    <div class="seg">1720.63</div>
    <div class="seg">830.33</div>
    <div class="seg">9620.03</div>

    <div class="seg">837.93</div>
    <div class="seg">4271.27</div>
    <div class="seg">916.53</div>
    <div class="seg">6346.22</div>
    <div class="seg">262.76</div>
    
    <div class="seg">4271.27</div>

    <div class="seg">882.93</div>
    <div class="seg">9726.87</div>
    <div class="seg">765.25</div>
    <div class="seg">333.52</div>
    <div class="seg">9726.73</div>

    <div class="seg">953.33</div>
    <div class="seg">784.22</div>
    <div class="seg">9374.27</div>
    <div class="seg">7652.99</div>
    <div class="seg">942.52</div>
</div>




<div class="creature fourth">
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->
  <!-- <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>




<div class="creature fifth">
  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>





<div class="creature sixth">
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <!-- <div class="seg">1034.56</div> -->
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>







<div class="creature seventh">
  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->

  <!-- <div class="seg">1034.56</div> -->
  <!-- <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>






<div class="creature eighth">
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->
  <!-- <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>







<div class="creature ninth">
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <!-- <div class="seg">1034.56</div> -->
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>
    <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>




<div class="creature tenth">
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->
  <!-- <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>


  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>




<div class="creature eleventh">
  <!-- <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div> -->
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.11</div>
  <div class="seg">1034.22</div>
  <div class="seg">1034.33</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>

  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
  <div class="seg">1034.56</div>
</div>




  <script src="assets/components/jquery/jquery.min.js"></script>
  <script src="assets/js/scripts.min.js"></script>

  </body>
</html>
